header {
  margin-top: 1.25em !important; }
  header div.social {
    font-size: 2em;
    margin-top: 20px;
    text-align: center; }

h1.title {
  color: #000;
  font-family: "Coda Caption", Impact, sans-serif;
  font-size: 3.5em;
  font-weight: normal;
  letter-spacing: -0.05357em;
  line-height: 1.1;
  margin-bottom: 0.08929em;
  text-align: center; }
  @media only screen and (min-width: 950px) {
    h1.title {
      font-size: 3.5em;
      margin-bottom: 0;
      margin-top: 0.98214em; } }
  @media only screen and (min-width: 1280px) {
    h1.title {
      font-size: 5.625em;
      letter-spacing: -0.06667em;
      margin-top: 0.44444em; } }

@media only screen and (min-width: 950px) {
  nav.top-bar {
    margin: 0 0 0 40px; } }
@media only screen and (min-width: 1280px) {
  nav.top-bar {
    margin: 0 0 0 10px; } }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #000; }
  h1 a:active, h1 a:visited, h2 a:active, h2 a:visited, h3 a:active, h3 a:visited, h4 a:active, h4 a:visited, h5 a:active, h5 a:visited, h6 a:active, h6 a:visited {
    color: black; }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #2F4F4F; }

h2 {
  text-align: center; }

img.logo {
  display: block;
  height: 200px;
  margin: 0 auto;
  min-height: 200px;
  min-width: 200px;
  width: 200px; }
  @media only screen and (min-width: 950px) {
    img.logo {
      margin: 1.25em 0.3125em 0 0.5em; } }
  @media only screen and (min-width: 1280px) {
    img.logo {
      margin: 1.25em 0 0 2.5em; } }

.top-bar-section ul li a {
  font-family: "Architects Daughter", "Comic Sans MS", cursive; }
  @media only screen and (min-width: 950px) {
    .top-bar-section ul li a {
      font-size: 1.125em; } }
  @media only screen and (min-width: 1280px) {
    .top-bar-section ul li a {
      font-size: 2em; } }

iframe.bandcamp {
  border: 0;
  height: 800px;
  margin: 0 auto 20px 0;
  width: 100%; }
  @media only screen and (min-width: 950px) {
    iframe.bandcamp {
      height: 1000px; } }

.social a {
  color: #000; }

footer {
  margin-top: 1.25em !important; }

footer
.colophon {
  text-align: center; }

ul.social {
  margin: 5em 0 0 0.8125em; }
  ul.social a {
    font-size: 3em; }
  @media only screen and (min-width: 1280px) {
    ul.social {
      margin: 5em 0 0 1.875em; } }

.ss-icon:active, .ss-icon:visited {
  color: #000; }
.ss-icon:hover {
  color: #2F4F4F; }

.clearing-thumbs li {
  margin-bottom: 10px; }
.clearing-thumbs img {
  border: 1px solid #000;
  height: 230px;
  /* to fit three columns max width */
  width: 230px; }

iframe {
  margin-bottom: 30px; 
}

@media only screen and (min-width: 1280px) {
  .top-bar-section ul {
    font-size: 10px;
  }
}