<!DOCTYPE html>
<html lang="en">
   <head>
      <title>{{ site.title }}{% if page.title != "Music" and page.title != nil and page.title != "" %}: {{ page.title }}{% endif %}</title>

      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

      <meta name="description" content="{{ site.description }}" />
      <meta name="keywords" content="{{ site.keywords }}" />

      <link rel="icon" type="image/x-icon" href="{{ site.s3-images }}/favicon.ico"  />
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Coda+Caption:800|Architects+Daughter" />
      <link rel="stylesheet" type="text/css" href="css/social-circle/ss-social-circle.css" />
      <link rel="stylesheet" type="text/css" href="css/style.css" />

      <script type="text/javascript" language="javascript" src="js/vendor/custom.modernizr.js"></script>
   </head>
   <body>
      <header class="row">
         <div class="small-12 large-3 columns"><a href="/"><img class="logo" src="{{ site.s3-images }}/a-trivial-hero-logo.png" /></a></div>
         <div class="small-12 medium-9 large-9 columns">
            <h1 class="title"><a href="/">A Trivial Hero</a></h1>
            <nav class="top-bar" data-options="is_hover:false">
               <ul class="title-area">
                  <li class="name"></li>
                  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
               </ul>
               <section class="top-bar-section">
                  <ul class="left">
                    <li{% if page.title == "Listen"      %} class="active"{% endif %}><a href="/">Music</a></li>
                    <li{% if page.title == "Look"      %} class="active"{% endif %}><a href="/look.html">Look</a></li>
                    <li{% if page.title == "Learn"      %} class="active"{% endif %}><a href="/merch.html">Merch</a></li>
                    <li{% if page.title == "Open Mic Across America" %} class="active"{% endif %}><a href="/tour.html">Tour</a></li>
                    <li{% if page.title == "Love"      %} class="active"{% endif %}><a href="/about.html">About</a></li>
                    <li{% if page.title == "Live"       %} class="active"{% endif %}><a href="/news.html">News</a></li>
                  </ul>
               </section>
               <ul><li class="toggle-topbar"></li></ul>
            </nav>
         </div>
      </header>
      <section class="row">
         <div class="show-for-medium-up large-2 large-offset-1 columns">
            <ul class="social no-bullet">
               <li><a class="ss-icon" target="_blank" href="{{ site.facebook }}">Facebook</a></li>
               <li><a class="ss-icon" target="_blank" href="{{ site.instagram }}">Instagram</a></li>
               <li><a class="ss-icon" target="_blank" href="{{ site.youtube }}">YouTube</a></li>
            </ul>
         </div>
         <div class="large-9 columns">
            {{ content }}
         </div>
      </section>
      <footer class="row">
         <div class="large-12 columns">
            <div class="social show-for-small"><a class="ss-icon" target="_blank" href="{{ site.facebook }}">Facebook</a> <a class="ss-icon" target="_blank" href="{{ site.instagram }}">Instagram</a> <a class="ss-icon" taget="_blank" href="{{ site.youtube }}">YouTube</a></div>
            <h6 class="subheader colophon">&copy; 2013 <a href="mailto:{{ site.contact }}">A Trivial Hero</a></h6>
         </div>
      </footer>
      <script>
         document.write('<script src=' +
            ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
         '.js><\/script>');
      </script>
      <script type="text/javascript" language="javascript" src="js/foundation/foundation.js"></script>
      <script type="text/javascript" language="javascript" src="js/foundation/foundation.clearing.js"></script>
      <script type="text/javascript" language="javascript" src="js/foundation/foundation.topbar.js"></script>
      <script>
         $(document).foundation();
      </script>
      <script type="text/javascript" language="javascript">
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-45594970-1', 'atrivialhero.com');
         ga('send', 'pageview');
      </script>
   </body>
</html>
