---
layout: default
---
Welcome!
--------
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thank you for visiting ATrivialHero.com! A Trivial Hero is a venture to outlet creativity, highlight underground talents from across the country (and eventually world), and inspire others to contribute to the art and love of our world. As you navigate throughout the pages, you will find an array of art through various mediums, as well as links to other great artists discovered throughout our travels. Everything is DIY and far from perfect, but the imperfection is part of what makes it beautiful. Below, you will find the music of A Trivial Hero, which is the foundation of this entire project. To keep up with more current developments, check out <a href="https://www.facebook.com/ATrivialHero" target="_blank">Facebook</a>, <a href="http://instagram.com/atrivialhero" target="_blank">Instagram</a>, and <a href="https://www.youtube.com/user/atrivialhero" target="_blank">Youtube</a>. Enjoy!
<div class="row">
   <div class="small-8 small-centered large-8 large-centered columns">

      {{ content }}

<!--[if lte IE 7]>
      <a target="_blank" href="http://atrivialhero.bandcamp.com/album/stuff-and-things"><h3 class="subheader"><em>Stuff and Things</em></h3></a>
      <a target="_blank" href="http://atrivialhero.bandcamp.com/album/stuff-and-things"><img src="{{ site.s3-images }}/stuff-and-things/stuff-and-things-1.png" /></a>

      <hr />

      <a target="_blank" href="http://atrivialhero.bandcamp.com/album/love-is-a-real-thing"><h3 class="subheader"><em>Love Is a Real Thing</em></h3></a>
      <a target="_blank" href="http://atrivialhero.bandcamp.com/album/love-is-a-real-thing"><img src="{{ site.s3-images }}/love-is-a-real-thing/love-is-a-real-thing-1.png" /></a>

      <hr />

      <a target="_blank" href="http://atrivialhero.bandcamp.com/album/lovers-i-will-never-meet"><h3 class="subheader"><em>Lovers I Will Never Meet</em></h3></a>
      <a target="_blank" href="http://atrivialhero.bandcamp.com/album/lovers-i-will-never-meet"><img src="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-1.png" /></a>

      <hr />

      <a target="_blank" href="http://atrivialhero.bandcamp.com/album/promises-to-myself"><h3 class="subheader"><em>Promises to Myself</em></h3></a>
      <a target="_blank" href="http://atrivialhero.bandcamp.com/album/promises-to-myself"><img src="{{ site.s3-images }}/promises-to-myself/promises-to-myself-1.png" /></a>

      <hr />

      <a target="_blank" href="http://atrivialhero.bandcamp.com/album/a-novel-approach"><h3 class="subheader"><em>A Novel Approach</em></h3></a>
      <a target="_blank" href="http://atrivialhero.bandcamp.com/album/a-novel-approach"><img src="{{ site.s3-images }}/a-novel-approach/a-novel-approach-1.png" /></a>

      <hr />

      <a target="_blank" href="http://atrivialhero.bandcamp.com/album/delusions-of-grandeur"><h3 class="subheader"><em>Delusions of Grandeur</em></h3></a>
      <a target="_blank" href="http://atrivialhero.bandcamp.com/album/delusions-of-grandeur"><img src="{{ site.s3-images }}/delusions-of-grandeur/delusions-of-grandeur-1.png" /></a>
      <div style="display: none;">
<![endif]-->
      <iframe class="bandcamp" src="https://bandcamp.com/EmbeddedPlayer/album=487742053/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://atrivialhero.bandcamp.com/album/stuff-and-things">Stuff and Things by A Trivial Hero</a></iframe>

      <hr />

      <iframe class="bandcamp" src="https://bandcamp.com/EmbeddedPlayer/album=626210333/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://atrivialhero.bandcamp.com/album/love-is-a-real-thing">Love Is a Real Thing by A Trivial Hero</a></iframe>

      <hr />

      <iframe class="bandcamp" src="https://bandcamp.com/EmbeddedPlayer/album=202846016/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://atrivialhero.bandcamp.com/album/lovers-i-will-never-meet">Lovers I Will Never Meet by A Trivial Hero</a></iframe>

      <hr />

      <iframe class="bandcamp" src="https://bandcamp.com/EmbeddedPlayer/album=2061164409/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://atrivialhero.bandcamp.com/album/promises-to-myself">Promises to Myself by A Trivial Hero</a></iframe>

      <hr />

      <iframe class="bandcamp" src="https://bandcamp.com/EmbeddedPlayer/album=1763755293/size=large/bgcol=ffffff/linkcol=e99708/transparent=true/" seamless><a href="http://atrivialhero.bandcamp.com/album/a-novel-approach">A Novel Approach by A Trivial Hero</a></iframe>

      <hr />

      <iframe class="bandcamp" src="https://bandcamp.com/EmbeddedPlayer/album=2463036908/size=large/bgcol=ffffff/linkcol=e99708/transparent=true/" seamless><a href="http://atrivialhero.bandcamp.com/album/delusions-of-grandeur">Delusions of Grandeur by A Trivial Hero</a></iframe>
<!--[if lte IE 7]>
      </div>
<![endif]-->
   </div>
</div>
