---
layout: default
---

{{ content }}

<h3 class="subheader"><em>Lovers I Will Never Meet</em> Artwork <small>(<a href="{{ site.s3-images }}/lovers-i-will-never-meet/Lovers_I_Will_Never_Meet_Booklet.pdf">PDF</a>)</small></h3>
<ul class="clearing-thumbs" data-clearing>
   <li><a href="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-1.png"><img src="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-1-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-2.png"><img src="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-2-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-3.png"><img src="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-3-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-4.png"><img src="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-4-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-5.png"><img src="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-5-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-6.png"><img src="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-6-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-7.png"><img src="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-7-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-8.png"><img src="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-8-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-9.png"><img src="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-9-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-10.png"><img src="{{ site.s3-images }}/lovers-i-will-never-meet/lovers-i-will-never-meet-10-th.png" /></a></li>
</ul>

<hr />

<h3 class="subheader"><em>Promises to Myself</em> Artwork <small>(<a href="{{ site.s3-images }}/promises-to-myself/Promises_to_Myself_Booklet.pdf">PDF</a>)</small></h3>
<ul class="clearing-thumbs" data-clearing>
   <li><a href="{{ site.s3-images }}/promises-to-myself/promises-to-myself-1.png"><img src="{{ site.s3-images }}/promises-to-myself/promises-to-myself-1-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/promises-to-myself/promises-to-myself-2.png"><img src="{{ site.s3-images }}/promises-to-myself/promises-to-myself-2-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/promises-to-myself/promises-to-myself-3.png"><img src="{{ site.s3-images }}/promises-to-myself/promises-to-myself-3-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/promises-to-myself/promises-to-myself-4.png"><img src="{{ site.s3-images }}/promises-to-myself/promises-to-myself-4-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/promises-to-myself/promises-to-myself-5.png"><img src="{{ site.s3-images }}/promises-to-myself/promises-to-myself-5-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/promises-to-myself/promises-to-myself-6.png"><img src="{{ site.s3-images }}/promises-to-myself/promises-to-myself-6-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/promises-to-myself/promises-to-myself-7.png"><img src="{{ site.s3-images }}/promises-to-myself/promises-to-myself-7-th.png" /></a></li>
</ul>

<hr />

<h3 class="subheader"><em>A Novel Approach</em> Artwork <small>(<a href="{{ site.s3-images }}/a-novel-approach/A_Novel_Approach_Booklet.pdf">PDF</a>)</small></h3>
<ul class="clearing-thumbs" data-clearing>
   <li><a href="{{ site.s3-images }}/a-novel-approach/a-novel-approach-1.png"><img src="{{ site.s3-images }}/a-novel-approach/a-novel-approach-1-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/a-novel-approach/a-novel-approach-2.png"><img src="{{ site.s3-images }}/a-novel-approach/a-novel-approach-2-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/a-novel-approach/a-novel-approach-3.png"><img src="{{ site.s3-images }}/a-novel-approach/a-novel-approach-3-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/a-novel-approach/a-novel-approach-4.png"><img src="{{ site.s3-images }}/a-novel-approach/a-novel-approach-4-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/a-novel-approach/a-novel-approach-5.png"><img src="{{ site.s3-images }}/a-novel-approach/a-novel-approach-5-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/a-novel-approach/a-novel-approach-6.png"><img src="{{ site.s3-images }}/a-novel-approach/a-novel-approach-6-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/a-novel-approach/a-novel-approach-7.png"><img src="{{ site.s3-images }}/a-novel-approach/a-novel-approach-7-th.png" /></a></li>
</ul>

<hr />

<h3 class="subheader"><em>Delusions of Grandeur</em> Artwork <small>(<a href="{{ site.s3-images }}/delusions-of-grandeur/Delusions_of_Grandeur_Booklet.pdf">PDF</a>)</small></h3>
<ul class="clearing-thumbs" data-clearing>
   <li><a href="{{ site.s3-images }}/delusions-of-grandeur/delusions-of-grandeur-1.png"><img src="{{ site.s3-images }}/delusions-of-grandeur/delusions-of-grandeur-1-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/delusions-of-grandeur/delusions-of-grandeur-2.png"><img src="{{ site.s3-images }}/delusions-of-grandeur/delusions-of-grandeur-2-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/delusions-of-grandeur/delusions-of-grandeur-3.png"><img src="{{ site.s3-images }}/delusions-of-grandeur/delusions-of-grandeur-3-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/delusions-of-grandeur/delusions-of-grandeur-4.png"><img src="{{ site.s3-images }}/delusions-of-grandeur/delusions-of-grandeur-4-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/delusions-of-grandeur/delusions-of-grandeur-5.png"><img src="{{ site.s3-images }}/delusions-of-grandeur/delusions-of-grandeur-5-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/delusions-of-grandeur/delusions-of-grandeur-6.png"><img src="{{ site.s3-images }}/delusions-of-grandeur/delusions-of-grandeur-6-th.png" /></a></li>
   <li><a href="{{ site.s3-images }}/delusions-of-grandeur/delusions-of-grandeur-7.png"><img src="{{ site.s3-images }}/delusions-of-grandeur/delusions-of-grandeur-7-th.png" /></a></li>
</ul>
